#regCard {
    margin-left: auto;
    margin-right: auto;
    margin-top: 7%;
    width: 25%;
    border-radius: 5px;
}

#cardBody {
    padding-top: 25px;
    /* margin-left: auto; */
    /* margin-right: auto; */
}

#name {
    width: 100%;
    height: 4rem;
}
#email {
    width: 100%;
    height: 4rem;
}
#username {
    width: 100%;
    height: 4rem;
}
#password {
    width: 100%;
    height: 4rem;
}
#cnfpassword {
    width: 100%;
    height: 4rem;
}

.p-inputtext:enabled:focus {
    box-shadow: 0 0 0 0.1rem rgb(47, 97, 47) !important;
    border-color: green !important;
}

.p-inputtext:enabled:hover {
    border: 1px solid green !important;
}

label {
    font-size: 1.25rem;
}

#regBtn {
    background-color: green;
    color: white;
}